  <%- include("./partials/head.ejs") %>
  <%- include("./partials/nav.ejs") %>

  <div class="account content">
    <div>
      <h2 class="management-header">Account Management for <%= user.email %></h2>
    </div>
    <div class="alter-email content">
        <p>Change Email</p>
        <hr>
        <form name="updateEmail" action="/account/<%= user._id %>" method="POST">
          <label for="newEmail">New Email</label>
          <input type="text" id="newEmail" name="newEmail" required>
          <label for="confirmEmail">Confirm Email</label>
          <input type="text" id="confirmEmail" name="confirmEmail" required>
          <div class="newEmail error"></div>
          <button>Update Email</button>
        </form>
      </div>
    <!-- <div class="alter-password content">
      <p>Change Password</p>
      <hr>
      <form class="alter-password-form" action="/account" method="POST">
        <label for="oldPassword">Old Password</label>
        <input type="password" id="oldPassword" name="oldPassword" required>
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" name="newPassword" required>
        <label for="confirm-password">Confirm New Password</label>
        <input type="password" id="confirm-password" name="confirm-password" required>
        <button>Update Password</button>
      </form>
    </div> -->

  </div>

  <script>
    let accountForm = document.querySelector("div.alter-email content form[name='updateEmail']");
    const emailError = document.querySelector('.newEmail.error');

      accountForm.addEventListener('submit',  (e) => {
          e.preventDefault();
          //reset errors
          emailError.textContent = '';

          //get values
          const newEmail = accountForm.newEmail.value;
          const confirmEmail = accountForm.confirmEmail.value;
          console.log(newEmail)
          console.log(confirmEmail)
          if(newEmail === confirmEmail) {          
            try {
                let res =  fetch('/account', {
                    method: 'POST',
                    body: JSON.stringify({ newEmail }),
                    headers: { 'Content-Type': 'application/json' }
                });
                let data =  res.json();
                console.log(data);

            }
            catch (err) {
                console.log(err);
            }
        }
        else {
          emailError.textContent = 'Email must Match';
        }
          
    });

  </script>

<%- include("./partials/footer.ejs") %>