<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="account content">
    <div>
      <h2 class="management-header">Account Management for <%= user.email %></h2>
    </div>
    <div class="alter-email content">
        <p>Change Email</p>
        <hr>
        <form class="alter-email-form" action="/account/<%= user._id %>" method="POST">
          <label for="oldEmail">Old Email</label>
          <input type="text" id="oldEmail" name="oldEmail" required>
          <label for="newEmail">New Email</label>
          <input type="text" id="newEmail" name="newEmail" required>
          <button>Update Email</button>
        </form>
      </div>
    <div class="alter-password content">
      <p>Change Password</p>
      <hr>
      <form class="alter-password-form" action="/account" method="POST">
        <label for="oldPassword">Old Password</label>
        <input type="password" id="oldPassword" name="oldPassword" required>
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" name="newPassword" required>
        <label for="confirm-password">Confirm New Password</label>
        <input type="password" id="confirm-password" name="confirm-password" required>
        <button>Update Password</button>
      </form>
    </div>

  </div>

  <%- include("./partials/footer.ejs") %>

  <script>
    // const form = document.querySelector('form');
    // const emailError = document.querySelector('.email.error');
    // const passwordError = document.querySelector('.password.error');
    // const firstNameError = document.querySelector('.firstName.error');
    // const lastNameError = document.querySelector('.lastName.error');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        //reset errors
        // emailError.textContent = '';
        // passwordError.textContent = '';
        // firstNameError.textContent = '';
        // lastNameError.textContent = '';

        //get values
        const oldEmail = form.oldEmail.value;
        const newEmail = form.newEmail.value;

        try {
            const res = await fetch('/account', {
                method: 'POST',
                body: JSON.stringify({ oldEmail, newEmail }),
                headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json();
            console.log(data);
            // if(data.errors) {
            //     firstNameError.textContent = data.errors.firstName;
            //     lastNameError.textContent = data.errors.lastName;
            //     emailError.textContent = data.errors.email;
            //     passwordError.textContent = data.errors.password;
            // }
            if(data.user) {
                location.assign('/blogs');
            }
        }
        catch (err) {
            console.log(err);
        }
        
    });
  </script>
</body>
</html>